 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">ICommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Customers", customers_path, class: "navbar-brand" %>
          </li>
          <li class="nav-item">
            <%= link_to "Seller", sellers_path, class: "navbar-brand" %>
          </li>

           <li class="nav-item">
            <center><%= button_to "Signout Seller", destroy_rseller_session_path,
              method: :delete
            %></center>        
          </li>

          <li class="nav-item">
            <%#= link_to "SignOut Customer", destroy_user_session_path, method: :delete, class: "nav-link" %>
            <%#= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            <%= button_to "Sign Out Customer", destroy_user_session_path, method: :delete %>

          </li>


          
          <!-- Add more navbar items as needed -->
        </ul>
      </div>
    </div>
  </nav>


  