<h1>Customers!</h1>
<ul>
<% if user_signed_in? %>

    <p>Welcome, <%= current_user.email %></p>
    <% @customers.each do |customer|%>
        <li>
            <%= link_to customer.name, customer_path(customer)%>
        </li>

    <%end%>
<%end%>
</ul>

<%= link_to "Add Customer",new_customer_path%>